body
{
	background-color: Lavender;
}

#card
{
	background-color: white;
}

.form-group
{
	margin: 10px;
}

h1
{
	color:CadetBlue;
	text-align:center;
}

.tablecontent th
{
	padding: 12px 15px;
}

.tablecontent td
{
	padding: 12px 0px;
	
}

tr:hover {
  background-color: #ffff99;
}