@charset "ISO-8859-1";
body
{
	 font-family: "Montserrat", sans-serif;
  background-image:url(../img/ciudad-Img.webp);
  background-position:center;
  background-repeat: no-repeat;

  background-size: cover;
  background-attachment: fixed;
}

#card
{
	background-color: white;
}